/node_modules
/public/hot
/public/storage
/public/template/adminlte
/public/upload
/Export
/storage/*.key
/vendor
*.zip
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
